@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import "reset.css";
@import "components/status-bar.css";
@import "variables.css";
/*Components*/
@import "screens/login.css";
/*Screens*/
@import "components/nav-bar.css";

@import "components/screen-header.css";
@import "screens/friends.css";

body {
    font-family:  'Open Sans', sans-serif;
    height:1000vh;
    color:rgb(34, 34, 34);
}

