.nav{
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top:2px solid rgba(189, 189, 189, 0.5);
    position: fixed;
    bottom:0;
    width:100%;
    box-sizing: border-box;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color:rgb(34, 34, 34);
    position:relative;

}

.nav__notification{
    background-color: tomato;
    display:flex;
    justify-content: center;
    align-items: center;
    width:25px;
    height:25px;
    border-radius: 50%;
    color:white;
    font-weight: 400;
    font-size: 14px;
    position:absolute;
    left: 17px;
    bottom: 17px;
}

.nav__notification2{
    background-color: tomato;
    width: 7px;
    height:7px;
    border-radius: 50%;
    position:absolute;
    left:27px;
    bottom:27px;
}